@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

body {
  background-color: hsl(185, 75%, 39%);
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  height: 340px;
  width: 320px;
  margin: 30px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container img {
  border-radius: 10px 10px 0 0;
  height: 40%;
  width: 100%;
}

.profile-div {
  height: 60%;
  width: 100%;
  border-radius: 0 0 10px 10px;

  background-color: hsl(0, 0%, 100%);
}

.profile-photo-div {
  display: flex;
  justify-content: center;
}

.profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 25%;
  padding: 5px;
}

.profile-photo img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

.separator {
  height: 20%;
}

.user-div {
  height: 43%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  /* border-bottom-width: 0.01px;
  border-bottom-style: solid;
  border-bottom-color: hsl(0, 0%, 59%); */
}

.user-div h1 {
  font-weight: 700;
  color: hsl(229, 23%, 23%);

  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.user-div span {
  color: hsl(0, 0%, 59%);
}

.user-div p {
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 59%);
  padding: 5px;
  font-size: 14px;
}

.infos-div {
  height: 32%;
  width: 85%;
  margin: 0px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.followers-div, .likes-div, .photos-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.followers-div span, .likes-div span, .photos-div span {
  padding-top: 20px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  font-size: 16px;
  line-height: 1.5;
}

.followers-div p, .likes-div p, .photos-div p {
  color: hsl(0, 0%, 59%);
  font-size: 10px;
}